
/*seg_mobile_touch_include.css*/

/*s-fonts.css*/
@font-face {
	font-family: 'OpenSans';
	src: url('/css/fonts/opensans-regular-webfont.woff') format('woff'),
		 url('/css/fonts/opensans-regular-webfont.ttf') format('truetype'),
		 url('/css/fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('/css/fonts/opensans-bold-webfont.woff') format('woff'),
		 url('/css/fonts/opensans-bold-webfont.ttf') format('truetype'),
		 url('/css/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('/css/fonts/opensans-italic-webfont.woff') format('woff'),
		 url('/css/fonts/opensans-italic-webfont.ttf') format('truetype'),
		 url('/css/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Serif';
	src: url('/css/fonts/pt_serif-regular-webfont.woff') format('woff'),
		 url('/css/fonts/pt_serif-regular-webfont.ttf') format('truetype'),
		 url('/css/fonts/pt_serif-regular-webfont.svg#pt_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*s-page-mobile_touch.css*/
* {font-family: 'OpenSans', Arial, sans-serif; color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {min-height: 100%;}
body {background: #ffffff; margin: 0; overflow-y: scroll;}
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: underline; cursor: pointer;}
a:active {color: #999999;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 16px;}
input, textarea {outline: none;}
#page {position: relative;}
a, span {font-size: inherit; font-family: inherit; color: inherit; text-transform: inherit;}
h1 {padding: 0 0 20px; font-size: 24px; text-transform: uppercase; font-weight: bold;
	font-family: 'OpenSans', Arial, sans-serif; 
}
h2 {line-height: 1.25em; padding-bottom: 7px; padding-top: 7px;
	font-family: 'OpenSans', Arial, sans-serif;
}
h3 {
	font-family: 'OpenSans', Arial, sans-serif;
}
h4 {
	font-family: 'OpenSans', Arial, sans-serif;
}
h5 {}
h6 {}
p {line-height: 1.38em; padding: 0 0 20px; font-size: 16px;} 
ul {font-size: 0;}
li {display: inline-block; vertical-align: top;
	font-family: 'OpenSans', Arial, sans-serif;
}
dl {font-size: 0;} 
dd, 
dt {display: inline-block; vertical-align: top; text-transform: uppercase; color: #666666;
	font-family: 'OpenSans', Arial, sans-serif;
}


/*s-footer-mobile_touch.css*/
#footer { background:#ffffff; padding: 40px 20px 20px; margin: 20px auto; border-top: 1px solid #999999;}
#footer .social {display: none;}
#footer .about {margin:0 auto; position: relative;	padding-bottom: 20px;
}
#footer .about p {color: #ffffff; font-size: 26px; font-weight: bold; font-style: italic;
	font-family: 'OpenSans', Arial, sans-serif; 
}
#footer .about ul.contacts {display:block; width:100%; font-size: 1rem; }
#footer .about ul.contacts li.contact {width:200px;}
#footer .about ul.contacts li.contact * {color: #000000;}
#footer .about ul.contacts li.contact .press {}
#footer .about ul.contacts li.contact h4 {padding-bottom: 10px; font-size: 12px;}
#footer .about ul.contacts li.contact h5 {padding-bottom: 24px; font-size:20px; text-transform: uppercase;
	font-family: 'OpenSans', Arial, sans-serif;
	font-weight: 800;
}
#footer .about ul.contacts li.contact p {font-weight: normal; font-style:normal; padding-bottom: 4px; font-size: 14px; line-height: 1em; 
	font-family: 'OpenSans', Arial, sans-serif;
}
#footer .about ul.contacts li.contact p a {font-weight: bold;}
#footer .about ul.contacts li.contact p a:hover {color: #00ff00;}


/*s-declaration-mobile_touch.css*/
body {background: #ffffff;}
#header {display: none;}
#content .scene {padding: 30px 20px 50px; margin: 0 auto; position: relative; background: #ffffff; overflow: hidden;}
#content .scene h2 {padding: 0 0 10px; font-size: 20px;
	font-family: 'OpenSans', Arial,sans-serif; text-transform: uppercase;
}
#content .scene h3 {padding: 10px 0 ; font-size: 16px;
	font-family: 'OpenSans', Arial,sans-serif; text-transform: uppercase;
}
#content .scene input {border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}
#content .scene ul.actions {padding: 10px 0 0; position: relative; height: 36px;}
#content .scene ul.actions li {display: block; margin-bottom: 10px;}
#content .scene ul.actions input {border: none; background: #000000; color: #ffffff; border: 1px solid #000000; padding: 5px 20px; line-height: 20px; cursor: pointer; text-transform: uppercase; text-align: center; font-weight: bold; font-size: 14px;
	font-family: 'OpenSans', Arial,sans-serif; 
}
#content .scene ul.actions input:active {background: #ffffff; color: #000000; border: 1px solid #000000;}
#content .scene ul.actions input.disabled,
#content .scene ul.actions input.disabled:active {background: #dedede; color: #999999; border: 1px solid #dedede;}
#content .scene .back {position: relative; z-index:100; background: #999999; color: #ffffff; padding: 10px 20px; font-size: 14px; cursor: pointer; text-transform: uppercase; font-weight: bold; text-align: center; border: 1px solid #999999;
	font-family: 'OpenSans', Arial,sans-serif;
}
#content .scene .back:active {background: #000000; color: #ffffff; border: 1px solid #000000;}
#content .scene.party ul.parties {padding: 20px 0 40px;}
#content .scene.party ul.parties li {display: block; padding: 0 0 25px;}
#content .scene.party ul.parties li h3 {text-transform: none; padding-bottom: 4px; font-size: 18px;}
#content .scene.party ul.parties li h3 a {font-weight: bold;}
#content .scene.party ul.parties li p {padding: 0; font-size: 14px;}
#content .scene.party ul.parties li p a {font-size: 13px;}
#content .scene.party ul.actions {padding: 20px 0 80px;}
#content .scene.party ul.actions li.upload a {background: #999999; color: #ffffff; padding: 8px 20px; font-size: 14px; display: inline-block; cursor: pointer; text-decoration: none;
	font-family: 'OpenSans', Arial,sans-serif; text-transform: uppercase; font-weight: bold; border: 1px solid #999999;
	text-align: center;
}
#content .scene.party ul.actions li.upload a:active {background: #ffffff; color: #000000; border: 1px solid #000000;}
#content .scene.upload h1 {
}
#content .scene.upload p {
}
#content .scene.upload form {padding: 30px 0;}
#content .scene.upload form label {display: block; text-align: center; padding: 0 0 5px;}
#content .scene.upload form div.field {text-align: center; padding: 0 0 25px;}
#content .scene.upload form div.field.error label {color: #df0000;}
#content .scene.upload form div.field.files {margin: 20px auto 25px; width: 400px; border: 3px solid #999999; border-radius: 15px; height: 75px; padding: 0;}
#content .scene.upload form div.field.files label {margin-top: -30px;}
#content .scene.upload form div.field.files input {width: 400px; height: 75px; opacity: 0; position: relative; z-index: 2;}
#content .scene.upload form div.field.files p {position: relative; z-index: 1; margin-top: -45px; font-size: 14px; color: #999999;}
#content .scene.upload form div.field.files.error {border-color: #df0000;}
#content .scene.upload form ul.actions {text-align: center;}
#content .scene.upload ul.actions li.send input.wait,
#content .scene.upload ul.actions li.send input.wait:hover {background: #999999; border-color: #999999; color: #ffffff; cursor: wait;}
#content .scene.dataform .field {padding: 0 0 10px; font-size: 0;}
#content .scene.dataform .field span {font-size: 14px; padding: 2px 0 0; width: 12px; display: inline-block; vertical-align: top; text-align: center;}
#content .scene.dataform .field label {font-size: 14px; padding: 2px 5px 0 0; display: block;}
#content .scene.dataform .field label:after {content: ":";}
#content .scene.dataform .field input {width: 250px; display: inline-block; vertical-align: top; border: 1px solid #000000; padding: 2px 3px;}
#content .scene.dataform .field input.error {border-color: #ee191b;}
#content .scene.dataform .field input[type="number"]::-webkit-inner-spin-button,
#content .scene.dataform .field input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#content .scene.dataform .field input.cpr1 {width: 150px;}
#content .scene.dataform .field input.cpr2 {width: 80px;}
#content .scene.dataform .field.postalcity input.postal {width: 50px; margin-right: 12px;}
#content .scene.dataform .field.postalcity input.city {width: 180px;}
#content .scene.dataform ul.actions {padding: 15px 0 0;}
#content .scene.dataform ul.actions input {position: absolute; right: 0; top: 10px;}
#content .scene.signature {padding-bottom: 40px;}
#content .scene.signature p {padding: 0; font-size: 13px;}
#content .scene.signature h2 {text-transform: none; font-size: 18px; padding-bottom: 20px;}
#content .scene.signature .vcard {padding: 10px 0 30px;}
#content .scene.signature .vcard .name {font-size: 18px; font-weight: bold; text-transform: uppercase;}
#content .scene.signature .vcard .po-box,
#content .scene.signature .vcard .postallocality,
#content .scene.signature .vcard .url,
#content .scene.signature .vcard .email,
#content .scene.signature .vcard .telephone {font-size: 14px;}
#content .scene.signature .vcard .po-box:after {content: "";}
#content .scene.signature .vcard .url:after {content: "";}
#content .scene.signature .vcard .email:after {content: "";}
#content .scene.signature .vcard .url,
#content .scene.signature .vcard .email,
#content .scene.signature .vcard .telephone {display: block;}
#content .scene.signature div.signatureform {overflow: hidden; position: relative; padding: 0 0 20px;}
#content .scene.signature div.signatureform * {font-size: 14px;}
#content .scene.signature div.signatureform div.postal {display: inline-block; vertical-align: top;}
#content .scene.signature div.signatureform div.city {display: inline-block; vertical-align: top;}
#content .scene.signature div.signatureform div.cpr_1:before {content: "CPR: ";}
#content .scene.signature div.signatureform div.cpr_1,
#content .scene.signature div.signatureform div.cpr_2 {display: inline-block; vertical-align: top;}
#content .scene.signature div.signatureform div.cpr_2:before {content: "-";}
#content .scene.signature canvas.date {border: 2px solid #ee191b;
	background: transparent url(/img/bg_standardvaelgererklaering_date.png) no-repeat left top; background-size: 100% auto;
}
#content .scene.signature canvas.date.correct {border: 2px solid #009f00;}
#content .scene.signature canvas.signature {border: 2px solid #ee191b;}
#content .scene.signature canvas.signature.correct {border: 2px solid #009f00;}
#content .scene.signature form {padding-bottom: 20px; border-bottom: 1px solid #dedede; margin-bottom: 20px;}
#content .scene.signature ul.actions li.preview {position: absolute; top: 10px; right: 0;}
#content .scene.signature ul.actions li.reset {background: #999999; color: #ffffff; padding: 10px 20px; font-size: 14px; display: inline-block; cursor: pointer; text-transform: uppercase; font-weight:bold; margin-right: 10px;
	font-family: 'OpenSans', Arial,sans-serif; 
}
@media all and (-webkit-min-device-pixel-ratio:0) {
	#content .scene ul.actions li.reset {line-height: 12px;}
}
#content .scene.signature ul.actions li.reset:active {background: #fd0000; color: #ffffff;}
#content .scene.preview {}
#content .scene.preview div.preview {width: 737px;}
#content .scene.preview .vcard {font-size: 0; padding: 0 0 30px; text-align: center;}
#content .scene.preview .vcard .name {font-size: 48px; padding: 0 0 6px; font-weight: bold;}
#content .scene.preview .vcard .po-box,
#content .scene.preview .vcard .postallocality,
#content .scene.preview .vcard .url,
#content .scene.preview .vcard .email,
#content .scene.preview .vcard .telephone {font-size: 13px;}
#content .scene.preview .vcard .po-box:after {content: ",\00a0";}
#content .scene.preview .vcard .url:after {content: "\00a0-\00a0";}
#content .scene.preview .vcard .email:after {content: "\00a0-\00a0";}
#content .scene.preview .vcard .po-box,
#content .scene.preview .vcard .postallocality,
#content .scene.preview .vcard .url,
#content .scene.preview .vcard .email,
#content .scene.preview .vcard .telephone {display: inline-block; vertical-align: top;}
#content .scene.preview div.signatureform {height: 400px; overflow: hidden; position: relative; padding: 0 0 30px; 
	background: transparent url(/img/bg_standardvaelgererklaering_userform.png) no-repeat left top;
}
#content .scene.preview div.signatureform * {font-size: 12px;}
#content .scene.preview div.signatureform div {position: absolute; overflow: hidden;}
#content .scene.preview div.signatureform div.name {left: 55px; top: 30px; width: 330px;}
#content .scene.preview div.signatureform div.address1 {left: 55px; top: 65px; width: 330px;}
#content .scene.preview div.signatureform div.address2 {left: 55px; top: 95px; width: 330px;}
#content .scene.preview div.signatureform div.postal {left: 90px; top: 128px;}
#content .scene.preview div.signatureform div.postal span {float: left; padding: 0 10px 0 0; width: 12px;}
#content .scene.preview div.signatureform div.city {left: 192px; top: 127px; width: 170px;}
#content .scene.preview div.signatureform div.municipality {left: 490px; top: 78px; width: 220px;}
#content .scene.preview div.signatureform div.cpr_1 {left: 385px; top: 55px;}
#content .scene.preview div.signatureform div.cpr_1 span {float: left; padding: 0 17px 0 0; width: 12px;}
#content .scene.preview div.signatureform div.cpr_2 {left: 593px; top: 55px;}
#content .scene.preview div.signatureform div.cpr_2 span {float: left; padding: 0 17px 0 0; width: 12px;}
#content .scene.preview div.signatureform div.signature {position: absolute; top: 144px; left: 302px;}
#content .scene.preview div.signatureform div.date {position: absolute; top: 159px; left: 36px; cursor: pointer;}
#content .scene.preview div.signatureform canvas.date {width: 133px; height: 22px;}
#content .scene.preview div.signatureform canvas.signature {width: 250px; height: 41px;}
#content .scene.preview div.signatureform .signature_data,
#content .scene.preview div.signatureform .date_data {display: none;}
#content .scene.preview form {padding-bottom: 20px; border-bottom: 1px solid #dedede; margin-bottom: 20px;}
#content .scene.preview ul.actions {padding: 0; text-align: right;}
#content .scene.preview ul.actions li.preview input.wait,
#content .scene.preview ul.actions li.preview input.wait:active {background: #999999; border-color: #999999; color: #ffffff; cursor: wait;}
#content .scene.receipt p.regards {padding: 27px 0 9px;}
#content .scene.receipt h2 {font-weight: 800;}
#content .scene.receipt .actions li a {font-size: 16px; text-decoration: underline;}

